.cache
.env
.git/
.github/
.venv/
.vscode/
*.csv
*.pyc
*.xlsx
**/__pycache__/
*dataframe.py
assets/dashExtensions_default.js
assets/datasets/*.bak
assets/datasets/DINS*
assets/datasets/ca_broadband_geopackage.gpkg*
include/
pipelines/
scripts/
.codex
