.cache
.env
.git/
.github/
.venv/
.vscode/
*.csv
*.pyc
*.xlsx
**/__pycache__/
*dataframe.py
assets/dashExtensions_default.js
assets/datasets/*.bak
assets/datasets/DINS*
aws_ec2_user_data_script.sh
include/