beautifulsoup4==4.11.1
dash_bootstrap_components==1.2.1
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_leaflet==0.1.23
dash==2.6.1
geopy==2.2.0
imagekitio==2.2.8
jupyter_dash==0.4.2
numpy==1.22.2
pandas==1.4.1
python-dotenv==0.21.0
requests==2.22.0
tables
gunicorn