beautifulsoup4==4.12.2
dash_bootstrap_components==1.4.1
dash_core_components==2.0.0
dash_extensions==1.0.1
dash_html_components==2.0.0
dash-leaflet==1.0.5rc1
dash==2.10.0
geopy==2.3.0
gunicorn==20.1.0
imagekitio==3.0.1
loguru==0.7.0
numpy==1.24.3
openpyxl==3.1.2
orjson==3.9.5
pandas==2.0.1
protobuf==3.20.*
pyarrow==12.0.1
python-dotenv==1.0.0
pyyaml 
requests==2.31.0
tables
user_agents==2.2.0