beautifulsoup4==4.12.2
dash_bootstrap_components==1.4.2
dash_core_components==2.0.0
dash_extensions==1.0.3
dash_html_components==2.0.0
dash-leaflet==1.0.7
dash==2.12.1
geopy==2.4.0
gunicorn==21.2.0
imagekitio==3.1.0
loguru==0.7.0
numpy==1.25.2
openpyxl==3.1.2
orjson==3.9.5
pandas==2.0.1
protobuf==3.20.*
pyarrow==13.0.0
python-dotenv==1.0.0
pyyaml 
requests==2.31.0
tables
user_agents==2.2.0