/* This file is used to style the Leaflet popup window that appears when you click on a marker on the map. */
/* Apply the following modifications only to screens smaller than 768px. */
@media screen and (max-width: 768px) {
    /* This is the Leaflet popup wrapper. */
    .leaflet-popup-content-wrapper {
        width: 100% !important;
        /*padding: 0 !important; */
        overflow: auto !important;
        height: 350px !important;
    }
    /* This is the Leaflet popup window. */
    .leaflet-popup-content {
        width: 75% !important;
        font-size: x-small !important;
    }
    /* This is the div that contains the MLS photo. */
    #mls_photo_div {
        width: 100% !important;
    } 
    /* This moves the close button down 8 pixels and 10 pixels to the left. */
    .leaflet-popup-close-button {
        transform: translateY(8px);
        transform: translateX(-10px);
    }
    /* Style the scrollbar */
    .leaflet-popup-content-wrapper::-webkit-scrollbar {
        width: 5px !important;
        background-color: #f5f5f5;
    }
    .leaflet-popup-content-wrapper::-webkit-scrollbar-thumb {
        background-color: #0074d9;
        border-radius: 5px;
    }
    .leaflet-popup-content-wrapper::-webkit-scrollbar-thumb:hover {
        background-color: #0063a7;
    }
    .leaflet-popup-content-wrapper::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    /* Vendor prefixes for Firefox */
    .leaflet-popup-content-wrapper {
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: #0074d9 #f5f5f5; /* Firefox */
    }
}