name: Build and Publish

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - '.gitignore'
      - '.github/**'
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "master" ]
    
    
jobs:
  # define job to build and publish docker image
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest

    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # setup Docker buld action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Login to Docker Hardened Images
        uses: docker/login-action@v3
        with:
          registry: dhi.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PAT }}

      - name: Build image and push to Docker Hub 
        uses: docker/build-push-action@v3
        with:
          # relative path to the place where source code with Dockerfile is located
          context: .
          # Note: tags has to be all lower-case
          tags: |
            strayingfromthepath/larentals:latest 
          # build on feature branches, push only on main branch
          push: true
          no-cache: true

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
